In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

from fastai.imports import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

In [5]:
PATH = '~/.kaggle/competitions/favorita-grocery-sales-forecasting/'
!ls {PATH}

holidays_events.csv	sample_submission.csv	  train.csv
holidays_events.csv.7z	sample_submission.csv.7z  train.csv.7z
items.csv		stores.csv		  transactions.csv
items.csv.7z		stores.csv.7z		  transactions.csv.7z
oil.csv			test.csv
oil.csv.7z		test.csv.7z

# read data

In [4]:
types = {
    'id':'int64', 
    'item_nbr': 'int32', 
    'store_nbr': 'int8', 
    'unit_sales': 'float32', 
    'onpromotion': 'object'
}

In [9]:
print(f'{PATH}train.csv')

~/.kaggle/competitions/favorita-grocery-sales-forecasting/train.csv
ls: cannot access '{f{PATH}train.csv}': No such file or directory

In [10]:
%%time
df_all = pd.read_csv(f'{PATH}train.csv', 
                    parse_dates=['date'], 
                    dtype=types, 
                    infer_datetime_format = True)

CPU times: user 1min 38s, sys: 4.24 s, total: 1min 42s
Wall time: 1min 42s

In [11]:
df_all.head(3)

   id       date  store_nbr  item_nbr  unit_sales onpromotion
0   0 2013-01-01         25    103665         7.0         NaN
1   1 2013-01-01         25    105574         1.0         NaN
2   2 2013-01-01         25    105575         2.0         NaN

In [15]:
df_all.onpromotion.fillna(False, inplace = True)
df_all.onpromotion = df_all.onpromotion.map({'False': False, 'True': True})
df_all.onpromotion = df_all.onpromotion.astype(bool)

In [17]:
%%time 
df_all.to_feather('tmp/raw_groceries')

CPU times: user 1.32 s, sys: 2.1 s, total: 3.41 s
Wall time: 3.84 s

In [18]:
%time df_all.describe(include='all')

CPU times: user 32 s, sys: 1.84 s, total: 33.9 s
Wall time: 33.9 s

,id,date,store_nbr,item_nbr,unit_sales,onpromotion
count,1.254970e+08,125497040,1.254970e+08,1.254970e+08,1.254970e+08,125497040
unique,NaN,1684,NaN,NaN,NaN,2
top,NaN,2017-07-01 00:00:00,NaN,NaN,NaN,False
freq,NaN,118194,NaN,NaN,NaN,96028767
first,NaN,2013-01-01 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2017-08-15 00:00:00,NaN,NaN,NaN,NaN
mean,6.274852e+07,NaN,2.746458e+01,9.727692e+05,8.554856e+00,NaN
std,3.622788e+07,NaN,1.633051e+01,5.205336e+05,2.360515e+01,NaN
min,0.000000e+00,NaN,1.000000e+00,9.699500e+04,-1.537200e+04,NaN
25%,3.137426e+07,NaN,1.200000e+01,5.223830e+05,2.000000e+00,NaN
50%,6.274852e+07,NaN,2.800000e+01,9.595000e+05,4.000000e+00,NaN
75%,9.412278e+07,NaN,4.300000e+01,1.354380e+06,9.000000e+00,NaN
max,1.254970e+08,NaN,5.400000e+01,2.127114e+06,8.944000e+04,NaN

In [ ]:
xx